# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/TempleSchedulerBackend/.vs/TempleSchedulerBackend/FileContentIndex/08bc1673-b435-4480-b093-f2cac01744a5.vsidx
backend/TempleSchedulerBackend/.vs/TempleSchedulerBackend/DesignTimeBuild/.dtbcache.v2
backend/TempleSchedulerBackend/TempleSchedulerBackend/obj/project.nuget.cache
backend/TempleSchedulerBackend/TempleSchedulerBackend/obj/project.assets.json
backend/TempleSchedulerBackend/TempleSchedulerBackend/obj/TempleSchedulerBackend.csproj.nuget.g.targets
